/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*--------------------------------------------------------------
 jQuery datatables
--------------------------------------------------------------*/

.dataTables_wrapper .dataTables_processing {
    margin-top: 25px !important;
}

.dataTables_wrapper .dataTables_filter label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2b2e !important;
}

.dataTables_wrapper .dataTables_filter label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2b2e !important;
}

.dataTables_wrapper .dataTables_filter input {
    width: 400px;
    height: calc(1.5em + .75rem + 8px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2b2e !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #000 !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 20px;
}

    .dataTables_wrapper .dataTables_filter input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.4);
    }

.dataTablesCardView {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 12px;
}

    .dataTablesCardView strong {
    }

    .dataTablesCardView .dataTablesCardViewCol {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

.dataTablesListView {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 12px;
}

    .dataTablesListView strong {
    }

    .dataTablesListView .dataTablesListViewCol {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .dataTablesListView .css-table {
        display: table;
    }

    .dataTablesListView .css-table-header {
        display: table-header-group;
        font-weight: bold;
        background-color: inherit;
    }

    .dataTablesListView .css-table-header-row {
        display: table-row;
        vertical-align: central;
        border-color: inherit;
        border-bottom-width: 2px;
    }

    .dataTablesListView .css-table-header-cell {
        display: table-cell;
        text-align: center;
        padding: 0px 5px;
        vertical-align: bottom;
        border: 1px solid #dee2e6;
    }
    
    .dataTablesListView .css-table-body {
        display: table-row-group;
    }

    .dataTablesListView .css-table-body-row {
        display: table-row;
        vertical-align: central;
        border-color: inherit;
    }

    .dataTablesListView .css-table-body-cell {
        display: table-cell;
        text-align: center;
        padding: 0px 5px;
        vertical-align: bottom;
        border: 1px solid #dee2e6;
    }

.dataTablesHr {
    display: none;
}

.form-body {
    padding: 10px !important;
}

.preloader {
    width: 100%;
}

table.dataTable tbody th, table.dataTable tbody td {
    vertical-align: middle !important;
}